<% if user_signed_in? %>
  Welcome <%= current_user.email %>!
  <p>Your current forms:</p>
  
  <p><%= @forms.size%> total form(s)</p>
  <table>
    <tr>
      <th>Birth Code</th>
      <th>Book_EstimatedDueDate</th>
    </tr>

  <% @forms.each do |f| %>
    <tr>
      <td><%= f['H_Ccode'] %></td>
      <td><%= f['Book_EstimatedDueDate'] %></td>
    </tr>
  <% end %>
  </table>
  
  <p><%= link_to "Sign Out",destroy_user_session_url%></p>
<% else %>
  <%= link_to "Sign in with MANAstats", user_omniauth_authorize_path(:manastats) %>
<% end %>